@use "@angular/material" as mat;
:host ::ng-deep .adminBtn {
  @include mat.button-overrides(
    (
      filled-container-color: #0b8400,
      filled-label-text-color: #ffffff,
    )
  );
}
:host ::ng-deep .doctorBtn {
  @include mat.button-overrides(
    (
      filled-container-color: #fd7e14,
      filled-label-text-color: #ffffff,
    )
  );
}

:host ::ng-deep .patientBtn {
  @include mat.button-overrides(
    (
      filled-container-color: #0d6efd,
      filled-label-text-color: #ffffff,
    )
  );
}

.info-message {
  margin-top: 8px;
  padding: 12px;
  border-radius: 6px;
  background: #ecfdf5;
  color: #047857;
  font-size: 14px;
}
