<ng-container [ngSwitch]="name">
  <svg *ngSwitchCase="'menu'" class="icon" viewBox="0 0 24 24" aria-hidden="true">
    <path d="M4 6h16M4 12h16M4 18h16" />
  </svg>

  <svg *ngSwitchCase="'notifications'" class="icon" viewBox="0 0 24 24" aria-hidden="true">
    <path
      d="M14.5 17.5a2.5 2.5 0 0 1-5 0m8.5-2-1.2-1.5a3.5 3.5 0 0 1-.8-2.2V9a4 4 0 0 0-8 0v2.8a3.5 3.5 0 0 1-.8 2.2L5 15.5h13"
    />
  </svg>

  <svg *ngSwitchCase="'group'" class="icon" viewBox="0 0 24 24" aria-hidden="true">
    <path d="M9.5 12a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
    <path d="M9.5 13.5c-2.9 0-5.5 2.1-5.5 5.4V20h11v-1.1c0-3.3-2.6-5.4-5.5-5.4Z" />
    <path d="M17.5 11.5a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
    <path d="M16.5 14c2.2 0 4 1.8 4 4v2h-6" />
  </svg>

  <svg *ngSwitchCase="'person_add'" class="icon" viewBox="0 0 24 24" aria-hidden="true">
    <path d="M10 11a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Z" />
    <path d="M4 19v-.5C4 15.5 6.5 13 9.5 13h1c3 0 5.5 2.5 5.5 5.5V19" />
    <path d="M17 8h4m-2-2v4" />
  </svg>

  <svg *ngSwitchCase="'search'" class="icon" viewBox="0 0 24 24" aria-hidden="true">
    <circle cx="11" cy="11" r="6" />
    <path d="m20 20-4.35-4.35" />
  </svg>

  <svg *ngSwitchCase="'arrow_upward'" class="icon" viewBox="0 0 24 24" aria-hidden="true">
    <path d="m12 5-5 5m5-5 5 5m-5-5v14" />
  </svg>

  <svg *ngSwitchCase="'arrow_downward'" class="icon" viewBox="0 0 24 24" aria-hidden="true">
    <path d="m12 19 5-5m-5 5-5-5m5 5V5" />
  </svg>

  <svg *ngSwitchCase="'unfold_more'" class="icon" viewBox="0 0 24 24" aria-hidden="true">
    <path d="m12 5-4 4m4-4 4 4" />
    <path d="m12 19-4-4m4 4 4-4" />
  </svg>

  <svg *ngSwitchCase="'chevron_left'" class="icon" viewBox="0 0 24 24" aria-hidden="true">
    <path d="m14 6-6 6 6 6" />
  </svg>

  <svg *ngSwitchCase="'chevron_right'" class="icon" viewBox="0 0 24 24" aria-hidden="true">
    <path d="m10 6 6 6-6 6" />
  </svg>
</ng-container>
